# --- Byte-code and compiled files ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Virtual Environments ---
.venv/
venv/
env/
ENV/
*.env

# --- IDE and Editor directories ---
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
